<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.2/js-yaml.min.js"></script>
    <style>
      .param {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 20px;
        margin-left: 20px;
      }
    </style>
    <title>Training configuration yaml builder</title>
  </head>

  <body>
    <div id="app">
      <div class="col-md-6 col-lg-6 col-sm-12">
        <h3>Training configuration yaml builder</h3>
        <div id="app">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Dataset</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                
                <label for="datasetName">Custum dataset name:</label>
                <input
                  class="form-control"
                  id="datasetName"                  
                  :disabled="UseTorchVisionDataset"
                  v-model="DatasetName"
                />                
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <div>Add options</div>
                    <button class="btn btn-primary" v-on:click="addDatasetOption"><span class="glyphicon glyphicon-plus"></span>Add
                      Option</button>
                    <div>&nbsp;</div>
                
                    <div v-for="datasetOption in DatasetOptions">
                      <!-- <div class="panel panel-primary">
                        <div class="panel-body"> -->
                          <div class="row">
                            <div class="param">
                              <div class="input-group">
                                <span class="input-group-addon">
                                  Name
                                </span>
                                <input type="text" class="form-control" v-model="datasetOption['name']" style="min-width: 50px;" :disabled="UseTorchVisionDataset"/>
                                <span class="input-group-addon">
                                  Value
                                </span>
                                <input type="text" class="form-control" v-model="datasetOption['value']" style="min-width: 50px;" :disabled="UseTorchVisionDataset"/>
                                <span class="input-group-addon" style=" padding:0 15px;"><button
                                    v-on:click="deleteDatasetOption(datasetOption)"><span class="glyphicon glyphicon-trash"></span>
                              </div>
                            </div>
                          </div>
                        <!-- </div>
                      </div> -->
                    </div>                
                  </div>
                </div>

                <input type="checkbox" v-model="UseTorchVisionDataset" v-on:click="initDatasetParams">
                <label for="useTorchvisionDataset"> Use Torchvision Dataset</label><br>

              </div>

              <div class="panel panel-primary" v-show="UseTorchVisionDataset">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="selTorchVisionDatasetType">TorchVision Dataset:</label>
                    <select
                      class="form-control"
                      id="selTorchVisionDatasetType"
                      v-model="TorchVisionDatasetType"
                      style="min-width: 100px;"
                    >
                      <option value="MNIST">MNIST</option>
                      <option value="COCO">COCO</option>
                      <option value="ImageNet">ImageNet</option>
                      <option value="CIFAR">CIFAR</option>
                      <option value="CelebA">CelebA</option>
                    </select>
                    <div v-if="TorchVisionDatasetType === 'MNIST'" class="alert alert-primary">
                      <strong><a href="https://pytorch.org/docs/stable/torchvision/datasets.html#mnist" target="_blank">MNIST dataset details</a></strong> 
                    </div>

                  </div>
                  <div>Parameters</div>
                  <!-- <button class="btn btn-primary" v-on:click="addDatasetOption"><span class="glyphicon glyphicon-plus"></span>Add Option</button> -->
                  <div v-for="param in MnistDatasetParam">                    
                    <div class="row">                      
                      <div class="param">
                        <div class="input-group">
                          <span class="input-group-addon" style="text-align:right; min-width: 300px;">
                            {{param[0]}}{{param[1]}}
                          </span>
                          
                          <div v-if="param[1].includes('bool')">
                            <select
                              class="form-control"
                              id="'datasetParam_' + param[0]"
                              v-model="MnistDatasetParamValue[param[0]]"
                            >
                              <option value="True">True</option>
                              <option value="False">False</option>                              
                            </select>
                          </div>
                          <div v-else>
                            <input
                            type="text"
                            class="form-control"
                            id="'datasetParam_' + param[0]"
                            style="min-width: 50px;"
                            :value="param[2]"
                            v-model="MnistDatasetParamValue[param[0]]"
                            />
                          </div>                          
                          <!-- <span class="input-group-addon" style=" padding:0 15px;"><button v-on:click="deleteDatasetOption(datasetOption)"><span class="glyphicon glyphicon-trash"></span> -->
                        </div>
                      </div>
                    </div>                    
                  </div>
                </div>
              </div>


              
            </div>

            <div>&nbsp;</div>

            <div class="panel-heading">
              <h4>Transform</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="transformName">Name:</label>
                <input
                  class="form-control"
                  id="transformName"                  
                />
              </div>
              <div class="form-group">
                <label for="selTorchVisionTransformType">TorchVision transforms:</label>
                <select
                  class="form-control"
                  id="selTorchVisionTransformType"
                  style="min-width: 100px;"
                >
                  <option value="None">None</option>
                  <option value="Compose">Compose</option>
                  <option value="Pad">Pad</option>
                  <option value="RandomCrop">RandomCrop</option>
                  <option value="Resize">Resize</option>
                </select>
              </div>              
            </div>
            <div class="panel-heading">
              <h4>Model</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              <div class="panel panel-primary">
                <div class="panel-body">
                  <div>Add options</div>
                  <button class="btn btn-primary" v-on:click="addDatasetOption"><span class="glyphicon glyphicon-plus"></span>Add Option</button>
                  <div>&nbsp;</div>

                  <div v-for="datasetOption in DatasetOptions">
                    <div class="panel panel-primary">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="input-group">
                              <span class="input-group-addon">
                                Name
                              </span>
                              <input
                                type="text"
                                class="form-control"
                                style="min-width: 50px;"
                              />
                              <span class="input-group-addon">
                                Value
                              </span>
                              <input
                                type="text"
                                class="form-control"
                                style="min-width: 50px;"
                              />
                              <span class="input-group-addon" style=" padding:0 15px;"><button v-on:click="deleteDatasetOption(datasetOption)"><span class="glyphicon glyphicon-trash"></span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    
                  </div>
                  
                </div>
              </div>
            </div>

            <div class="panel-heading">
              <h4>Train</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              
            </div>



            <div class="panel-heading">
              <h4>Evaluation</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              
            </div>


            <div class="panel-heading">
              <h4>Loss</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              
            </div>


            <div class="panel-heading">
              <h4>Optimizer</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              
            </div>


            <div class="panel-heading">
              <h4>Scheduler</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              
            </div>

            <div class="panel-heading">
              <h4>Hooks</h4>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label for="modelName">Name:</label>
                <input
                  class="form-control"
                  id="modelName"                  
                />
              </div>              
              
            </div>


          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12">
        <h4>Generated YAML</h4>
        <pre>
{{ConfigurationYaml}}
        </template>
        </pre>
      </div>
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          DatasetName: "",          
          Splits: [],
          DatasetOptions: [],
          UseTorchVisionDataset: false,
          TorchVisionDatasetType: 'MNIST',
          MnistDatasetParam: [['root', '(string)',''], ['train', '(bool, optional)', 'True'], ['download', '(bool, optional)', 'False'], ['transform', '(callable, optional)', 'None'], ['target_transform', '(callable, optional)', 'None']],
          MnistDatasetParamValue: { 'root':'', 'train':'', 'download':'', 'transform':'', 'target_transform':''},
        },
        computed: {        
          ConfigurationYaml: function () { 
            datasetParams = {}
            
            if(this.UseTorchVisionDataset) {
              datasetName = this.TorchVisionDatasetType
              for (var i = 0; i < this.MnistDatasetParam.length; i++) {
                v = this.MnistDatasetParamValue[this.MnistDatasetParam[i][0]]
                if (v == '')
                  continue;
                if (v == 'True')
                  v = true;
                if (v == 'False')
                  v = false;
                datasetParams[this.MnistDatasetParam[i][0]] = v
              }
            } else {
              datasetName = this.DatasetName
              for (var i = 0; i< this.DatasetOptions.length; i++) {
                datasetParams[this.DatasetOptions[i]['name']] = this.DatasetOptions[i]['value']
              }
            }
            var configObj = {              
              'dataset': {
                  'use_torchvision_dataset': this.UseTorchVisionDataset,
                  'name': datasetName, 
                  'params': datasetParams
                }
            };
            return jsyaml.dump(configObj);
          },          
        },
        methods: {
          addDatasetOption: function () {
            var option = {
              name: "",
              value: "",
            };

            this.DatasetOptions.push(option);
          },
          deleteDatasetOption: function (split) {
            var splitIndex = this.DatasetOptions.indexOf(split);
            if (splitIndex > -1) {
              this.DatasetOptions.splice(splitIndex, 1);
            }
          },
          addSplit: function () {
            var newSplit = {
              mode: "train",
              split: "train",
            };

            this.Splits.push(newSplit);
          },
          deleteSplit: function (split) {
            var splitIndex = this.Splits.indexOf(split);
            if (splitIndex > -1) {
              this.Splits.splice(splitIndex, 1);
            }
          },
          initDatasetParams: function () {
            this.MnistDatasetParamValue = { 'root': '', 'train': '', 'download': '', 'transform': '', 'target_transform': '' };
          }
        },
      });
    </script>
  </body>
</html>
